body{
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #07d3ff;
    margin: 100px;

    
}

#calc{
    padding: 10px;
    align-self: center;
    background-color: #098bb3;
    display:flex;
    width: 290px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #0d4f69 4px solid;
    border-radius: 12% 3%;
    box-shadow: 10px 10px 8px #0d4f69;

}

#calc-title{
    display: flex;
    justify-content: space-between; 
    color: black;
    
}

#calc-title > #top{
    margin: 10px;

}

#calc-title > #cal{
    margin: 10px;

}


#screen{
    width: 90%;
    border-radius: 15px;
    border: solid black 3px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color:#0ffff8;
    font-weight: bold;
    font-size: 30px;
    word-wrap: break-word;
    word-break: break-all;
}

#calculation{
    padding-right: 5px;
    padding-left: 3px;
    margin: 0;
}




#table{
    display: flex;
    width: 90%;
    margin: 10px;
    
}

.column{
    display:flex;
    flex-direction: column;
    width:100%;
    
}

.operation{
    color: #ff82f4;
}

button{
    background-color: black;
    color: #07d3ff;
    margin:1px;
    height:55px;
    border: 1px black solid;
    border-radius: 2px;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    
    
}

.num:hover, .action:hover{
    box-shadow: 0px 0px 10px  #07d3ff;
    border: 1px #07d3ff solid;
    border-radius: 2px;
}

.equal:hover, .operation:hover{
    box-shadow: 0px 0px 10px  #ff82f4;
    border: 1px #ff82f4 solid;
    border-radius: 2px;
}

button:active{
    transform: scale(1.02);

}



#equal{
    height: 112px;
    
}

#equal:active{
    box-shadow: 0px 0px 10px  #07d3ff;
    border: 1px #07d3ff solid;
    border-radius: 2px;
}

.active{
    box-shadow: 0px 0px 10px  #ff82f4;
    border: 1px #ff82f4 solid;
    border-radius: 2px;
}

footer{
    padding-top: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer > p{
    border-bottom: 1px solid #0d4f69;
    font-size: 20px;
}

